@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
    color: #fff;
    min-height: 100vh;
}

/* Header Style */

header, form {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;  
}

/* H1 Style */

h1 {
    font-size: 3.2rem;
}

/* Form & Button Style */

form input, form button {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.3rem;
    background: #fff;
}

form button {
    color:  #d88771;
    background: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

/*Button hover */

form button:hover {
    color: #fff;
    background: #e2c35d ;
}