@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
    color: #fff;
    min-height: 100vh;
}

/* Header Style */

header, form {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;  
}

/* H1 Style */

h1 {
    font-size: 3.2rem;
}

/* Form & Button Style */

form input, form button {
    padding: 0.8rem 1.3rem;
    border: none;
    font-size: 1.3rem;
    background: #fff;
}

form button {
    color:  #d88771;
    background: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

/*Button hover */

form button:hover {
    color: #fff;
    background: #e2c35d ;
}

/* Todo Styles */

.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo {
    list-style: none;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    background: #fff;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
    order: 2;
}

.todo-item  {
    padding: 0.2rem 1rem;
}

/* Check & Delete Button Styles */

.check-btn, .delete-btn {
    background: rgb(216, 71, 71);
    color: #fff;
    border: none;
    padding: 0.9rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.check-btn {
    background: rgb( 73, 204, 73);
    order: 1;
}

.delete-btn {
    order: 3;
} 

.fa-square-check, .fa-trash {
    pointer-events: none;
}
/* Button hover */

.check-btn:hover {
    background: rgb(4, 241, 4);
    color: #fff;
}

.delete-btn:hover {
    background: rgb(247, 5, 5);
    color: #fff;
}

/* Media Queries */

@media(max-width: 375px) {

    body {
        margin: 20px auto;
        
    }

    form {
        overflow-x: hidden;
        margin: 20px auto;
    }
}

@media(max-width: 360px) {

    body {
        margin: 20px auto ;
    }

    form {
        overflow-x: hidden;
        margin: 20px 10px;
    }

    form input {
        max-width: 220px;
    } 


}